<% if @resource.sign_in_count == 0 %>
  <p>Hi,</p>
  <p>You've been invited to <strong>MerchantHub</strong>.</p>
  <p>Click the link below to set your password and get started. The link expires in <%= Devise.reset_password_within / 3600 %> hours.</p>
<% else %>
  <p>Hi,</p>
  <p>Someone requested a password reset for your <strong>MerchantHub</strong> account (<%= @resource.email %>).</p>
  <p>Click the link below to choose a new password. The link expires in <%= Devise.reset_password_within / 3600 %> hours.</p>
<% end %>

<p>
  <%= link_to(@resource.sign_in_count == 0 ? "Set my password" : "Reset my password",
        edit_password_url(@resource, reset_password_token: @token)) %>
</p>

<p>If you didn't request this, please ignore this email. Your account will remain unchanged.</p>
