<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <%
    css = case type.to_s
          when "notice" then "flash-notice"
          when "alert"  then "flash-alert"
          else "rounded-lg border border-gray-200 bg-gray-50 px-4 py-3 text-theme-sm text-gray-800"
          end
  %>
  <div class="<%= css %>" role="status" data-testid="flash-<%= type %>">
    <%= message %>
  </div>
<% end %>
